/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

/*alternative colorways*/
.lab {
    background-color: rgb(0, 200, 255);
}

.lab-dark {
    background-color: rgb(0, 175, 225) !important;
}

.skill {
    background-color: rgb(25, 150, 0);
}

.inactive {
    opacity: 0.5;
    pointer-events: none;
}

.invisible {
    opacity: 1;
    pointer-events: none;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: red;
    z-index: 1000;
}

nav a {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;}
a:hover {
    font-weight: bold;
    color: white;
}

body {
    min-height: 100vh;
    display: flex;  
    flex-direction: column;
    justify-content: center; /* Vertically center content */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: red;
    padding-top: 40px;
}

.title-column {
    align-items: center;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Vertically center items in container */
    max-width: 2000px;
    margin: 0 auto;
    font-size: 0.9rem;
    width: 100%;
    min-height: 300px; /* Ensure container has height */
  }

.column {
    min-width: 30vh;
    min-height: 20vh;
    margin: 0;
}

.container {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Vertically center items in container */
    max-width: 1200px;
    margin: auto;
    width: 100%;
    min-height: 400px; /* Ensure container has height */
}

.title {
    font-family: serif;
    margin-bottom: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.description {
    font-style: italic;
    font-size: 0.9rem;
    padding: 4rem;
    margin-bottom: 3rem;
    pointer-events: none;
}

.form-container form input,
.form-container form textarea {
    width: 300px;
    box-sizing: border-box;
    display: block;
    margin: 1rem auto;/*distance between form elements*/
}

.form-title {
    font-size: 0.9rem;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding: 0.5rem;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    color: black;
    font-style: italic;
    text-decoration: none;
}

.email:hover {
    color: white;
}

form input, form textarea {
    background-color: rgb(225, 0, 0);
    border: 1px solid black;
    border-radius: 2px;
}

form input::placeholder, 
form textarea::placeholder {
    font-family: Courier, monospace, sans-serif;
    font-style: italic;
    font-size: 0.7rem;
    color: black;
}

form input:hover::placeholder,
form textarea:hover::placeholder {
    color: white;
}
    
form input:focus,
form textarea:focus,
form input:valid,
form input:invalid,
form textarea:valid,
form textarea:invalid {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 0.7rem;
    background-color: rgb(225, 0, 0);
}

button {
    background-color: rgb(225, 0, 0);
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.7rem; 
    font-family: 'Courier New', Courier, monospace;
}
button:hover {
    font-weight: bold;
    color: white;
    border: 1px solid white
}
button:active {
    background-color: rgb(180, 0, 0);
    color: white;
    font-weight: bold;
}

footer {
    padding: 0.2rem;
    width: 100%;
    color: black;
    font-size: 0.7rem;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    background: red;
    z-index: 999;
}

/* Now we bring in the images */

.blend-container {
    position: relative; /* Needed for stacking context */
}

.blend-text {
    position: relative; /* To be above the images */
    z-index: 1; /* Ensure text is on top */
    mix-blend-mode: exclusion; /* The blending mode */
    color: rgb(199, 255, 68); /* Start with a color that will show a difference */
    /* Adjust other text styles as needed */
}

.click-image {
    position: absolute;
    pointer-events: none;
    z-index: 0; /* Below the text */
    top: -9999px; /* Initially off-screen */
    left: -9999px; /* Initially off-screen */
}
